.chatbot {
  height: 500px;
  width: 400px;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid lightblue;
}

.chatbot .section {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.chatbot .input {
  margin: 0;
  padding: 0 1% !important;
  width: 98%;
  /* position: absolute;
  bottom: 0; */
}
